# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
x = 15
y = 15
print(x == y)
print(id(x) == id(y))

True
True

*місце для текстової відповіді

Змінні x та y, значення яких належить проміжку від -5 до 256, рівні за значенням та посилаються на один і той самий об'єкт у пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
isinstance(True, bool)

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
integral_num = 5
floating_point_num = 1.75

print(integral_num + floating_point_num)
print(integral_num - floating_point_num)
print(integral_num / floating_point_num)
print(integral_num * floating_point_num)
print(int(integral_num / floating_point_num))
print(integral_num % floating_point_num)
print(integral_num**floating_point_num)

6.75
3.25
2.857142857142857
8.75
2
1.5
16.71850762441055

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
print(int(floating_point_num))
print(int(integral_num + floating_point_num))

bool_var = True
print(int(bool_var))

1
6
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ''
str2 = str()

print(str1)
print(str2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
normal_str = '\\'
raw_str = r'\\'

print(normal_str)
print(raw_str)

\
\\

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = 'Zhytnetsky'
formatted_str = 'My surname is {}'.format(surname)

print(formatted_str)

My surname is Zhytnetsky

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
str3 = 'My dog is crazy'

print(str3.split())

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = []
list2 = list()

print(len(list1))

0

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list3 = [5, 13]
list4 = [17, 2, 48]
list3.append(list4)

print(list3)

[5, 13, [17, 2, 48]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list5 = [
    [39, 23, 10],
    [15, 47, 7],
    [5, 60, 42]
]

print(list5[-1][0])

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list6 = ['abc', 3, 'def', 94.3, None, True, [993, 23.6, False], '84', 19.125, (553, 7, 32)]
list7 = list6[2:8]

print(list7)

['def', 94.3, None, True, [993, 23.6, False], '84']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple1 = (54,)

print(isinstance(tuple1, tuple))

True

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

Схожості: списки та кортежі є впорядкованими (sequence) типами.

Відмінності: списки є mutable типами, кортежі - immutable.

Випадки виористання: списки - для роботи з набором даних, що може змінюватись під час виконання програми, кортежі - для роботи зі сталим набором даних, незмінним впродовж усього виконання програми.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tuple2 = (2.7, 1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tuple3 = tuple2[::-2]

print(tuple3)

(0.3, 8.3, 6.3, 4.3, 2.3, 2.7)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
set1 = set()
print(id(set1))

set1.add(84)
set1.add(17)
set1.add(36)

print(id(set1))
print(set1)

136234710211200
136234710211200
{17, 84, 36}

*місце для текстової відповіді

Множини є змінним типом даних, оскільки додавання/видалення/зміна значень елементів відбувається "in-place", без створення нового об'єкту.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)

print(my_set)

{1, 2, 67, 8, 9}

*місце для текстової відповіді

Елементи, що повторюються, зникли, бо множини зберігають набір унікальних значень.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set2 = {1, 2, 3, 4}
set3 = {3, 4, 5, 6}

print(set2.union(set3))
print(set2.intersection(set3))
print(set2.symmetric_difference(set3))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2, 5, 6}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
dict1 = {}
dict1[4] = 'val1'
dict1[7.5] = 'val2'
dict1['abc'] = 'val3'
dict1[True] = 'val4'

print(dict1)

{4: 'val1', 7.5: 'val2', 'abc': 'val3', True: 'val4'}

*місце для текстової відповіді

Список не може бути ключем у словнику, оскільки список є змінним типом даних, тобто для нього неможливо гарантувати незмінність результату хеш-функції під час виконання програми.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [73]:
my_dict = {
    3: 'val1',
    7: 'val2',
    10: {
        6: 'val3',
        8: 'val4',
        9: {
            -4: 'val5',
            0: 'val6',
            17: 'val7'
        }
    }
}

print(my_dict[10][9][0])

val6

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.